@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

:root {
  --background: #f8fafc;
  /* slate-50 */
  --foreground: #0f172a;
  /* slate-900 */
}

.dark {
  --background: #020617;
  /* slate-950 */
  --foreground: #f8fafc;
  /* slate-50 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}